
@{
    ViewBag.Title = "viewbagstudy";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>viewbagstudy</h2>
<div>
    What is view Bag and View data?
    To pass data from controller  to view we used viewbag and viewdata.It is easiest way to transfer data.

    VIEWBAG:
    1.Viewbag is a dynamic Property

    2.It is used to send a data from the action method to view
    3.We can assign to any name to viewbag property.
    4SYNTAX:
    ViewBag.MyProperty=Value;
</div>
<div>
    
</div>
<div>
    <table class="table">
        <tr>
           
            <td>@ViewBag.Myname</td>
        </tr>
        @foreach(var items in ViewBag.citylist)
            {
                <tr>
                    <td>@items</td>
                </tr>
            }
    </table>
</div>
<div>
    <table class="table">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>email</td>
        </tr>
        @foreach (var items in ViewBag.manager)
        {
            <tr>
                <td>@items.id</td>
                <td>@items.name</td>
                <td>@items.email</td>
            </tr>
        }
    </table>
</div>
<div>
    <code>
        <pre>
 public ActionResult viewbagstudy()
 {
     //  SIMPLE DATA USING VIEWBAG
     ViewBag.Myname = "Aditya";
     return View();

     //COLLECTION SEND USING VIEWBAG
     List<string> citylist= new List<string>() {"Nagpur","pune","Mumbai","Delhi" };
     ViewBag.citylist = citylist;

     //HOW TO SEND VIEWBAG USING MODELS
     List<manager>manager=new List<manager>();
     {
         new manager() { id = 1, name = "Aditya", email = "adity@gmail.com" };
         new manager() { id = 2, name = "khapekar", email = "khaprkar@gmail.com" };
         new manager() { id = 3, name = "Pratham", email = "pratahm@gmail.com" };
         new manager() { id = 4, name = "Rodge", email = "Rodge@gmail.com" };
         ViewBag.manager = manager;


     }
</pre>
    </code>
</div>


